* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;

    --ff-body: "Quattrocento Sans", sans-serif;
    --ff-buttons: "DM Sans", sans-serif;
    --ff-title: "DM Serif Display", serif;

    --gray-50: #fafaf9;
    --gray-100: #f5f5f4;
    --gray-500: #78716c;
    --gray-700: #44403c;
    --gray-800: #292524;

    --main-dark: #581c87;
    --main: #a855f7;
    --main-light: #C9B0E4;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

.scroll-down #nav {
    transform: translate3d(0, -100%, 0);
}

.scroll-up #nav {
    filter: drop-shadow(0 -10px 20px rgba(0,0,0,0.25));
}


ul {
    list-style: none;
}

a, button {
    transition: 200ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

h1, h2 {
    font-family: var(--ff-title);
    font-weight: normal;
}

button {
    font-family: var(--ff-buttons);
}

button:not(#contato) {
    font-size: clamp(2rem, 1.75rem + 0.75vw, 2.4rem);
    border-radius: 555rem;
}

body {
    background-color: var(--gray-50);
    font-family: var(--ff-body);
    overflow-x: hidden;
}

section {
    padding: 0 3rem;
    height: 100vh;
}

button.bmain {
    background-color: var(--main-dark);
    color: var(--gray-50);
    border: none;
    width: 100%;
    padding: 1rem 0 1rem;
}

button.bmain:hover {
    letter-spacing: 2px;
}

button.bvaz1 {
    color: var(--gray-50);
    border: 2px solid var(--gray-50);
    background-color: transparent;
    width: 100%;
    padding: 1rem 0 1rem;
}

#nav {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    top: 0;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    background-color: white;

    transition: all 200ms ease-in-out;
}

.logo a {
    color: var(--gray-800);
    font-family: var(--ff-title);
    text-transform: uppercase;
    font-size: clamp(2rem, 1.75rem + .75vw, 2.4rem);
}

.logo a:hover {
    color: var(--gray-500);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 3px;
    border-radius: 222px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--gray-500);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#nav button {
    display: none;
}

#navMenu {
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: -120%;
    top: 5rem;

    background-color: white;

    padding: 2rem;

    font-size: clamp(1.4rem, 1.4rem + 0.75vw, 1.6rem);
    font-family: var(--ff-buttons);
    text-transform: uppercase;
    
    width: 100%;
    text-align: right;

    transition: 250ms ease;

    z-index: 10;
}

#navMenu a {
    color: var(--gray-700);
}

#navMenu.active {
    left: 0;
}

.heroimg::before, .heroimg::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: clamp(20rem, 14rem + 20vw, 33rem);
    height: clamp(25rem, 15rem + 28vw, 39rem);
    border-radius: 50% 50% 0 0;
}

.heroimg::before {
    background-color: var(--main-light);
    z-index: 1;
}

/* .heroimg::after {
    border: 1px solid var(--gray-700);
    z-index: -1;
}
 */
section#hero {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;

    background-image: url("assets/hero-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.herotxt {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.heroimg img {
    width: clamp(25rem, 14rem + 28vw, 40rem);
    position: relative;
    z-index: 2;
}

h1 {
    font-size: clamp(4rem, 1.75rem + 5vw, 6.4rem);
    color: var(--gray-700);
    padding-bottom: 2.5rem;
}

#hero p {
    font-size: clamp(2rem, 1.75rem + 0.75vw, 2.4rem);
    color: var(--gray-500);
    padding-bottom: 2.5rem;
}

section#arranjos {
    margin-top: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--main-dark);
    color: var(--gray-50);
}

#arranjos h2 {
    font-size: 32px;
    padding-bottom: 1rem;
}

.arranjosimg img {
    width: clamp(20rem, 14rem + 28vw, 40rem);
    position: relative;
    z-index: 2;
    padding-left: 2.5rem;
    padding-bottom: 5rem;
    margin-top: -10rem;
}

.arranjosimg::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 3rem;
    width: auto;
    max-width: auto;
    height: clamp(32rem, 12rem + 53.333vw, 60rem);
    background-color: transparent;
    border: 1px solid var(--gray-50);
    z-index: 1;
    margin-top: -7rem;
}

#arranjos h3 {
    font-size: 20px;
    padding-bottom: 5rem;
}

#arranjos p {
    font-size: 16px;
    padding-bottom: 5rem;
    text-align: justify;
}

#arranjos button {
    align-items: end;
    justify-content: center;
}

/* provisório */
section#decoracao{
    display: none;
}
section#eventos {
    display: none;
}
section#presentes {
    display: none;
}
footer {
    display: none;
}


@media (min-width: 1000px) {
    button.bmain {
        padding: .5rem 0;
    }

    #nav {
        padding: 1rem 5vw;
    }

    #nav .hamburger {
        display: none;
    }

    #navMenu {
        flex-direction: row;
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        background: none;
        gap: min(2.5vw, 5rem);
        justify-content: center;
    }

    #nav ul a:hover {
        border-bottom: 2px solid var(--main-dark);
    }

    #nav button {
        display: flex;
        align-items: center;
        font-size: clamp(1.4rem, 1.4rem + 0.75vw, 1.6rem);
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid var(--main-dark);
        border-radius: 333rem;
        color: var(--main-dark);
        padding: .25rem 2.5rem;
        width: max(24%, 35rem);
        gap: 1.5rem;
    }

    #nav button:hover, #nav button:hover path {
        background-color: var(--main-dark);
        color: white;
        stroke: white;
    }

    section#hero {
        flex-direction: row-reverse;
        gap: 10vw;
        margin-top: 0;
    }

    .herotxt {
        width: min(60rem, 40vw);
        gap: 2.5rem;
    }
}